
@media screen and (min-width: 780px) {
 .pizza{
  width:  50px;
  height: 50px;
 }
}

  @media(min-width:400px){


    body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
}

.pizza {
  position: absolute;
  width: 700px;
  height: 700px;
  background-color: #f5deb3;
  border-radius: 50%;
  animation: .2s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

.crust:hover {
  background-color: #d2691e;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
  
}


.crust {
  position: absolute;
  width: 620px;
  height: 600px;
  background-color: #d2691e;
  border-radius: 50%;
  bottom: 55px;
  left: 50%;
  transform: translateX(-50%);
  animation: 0.6s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

.crust:hover {
  background-color: #d2691e;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.sauce {
  position: absolute;
 margin-top: 10px;
  width: 580px;
  height: 540px;
  background-color: #721010;
  border-radius: 50%;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  animation: 0.8s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

.sauce:hover {
  background-color: #d2691e;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.veg{
    position: absolute;
    height:100px;
    width:100px;
  margin-top: 80px;
  clip-path: polygon(10% 50%, 20% 45%, 30% 40%, 40% 40%, 50% 40%, 60% 40%, 70% 40%, 80% 40%, 90% 45%, 100% 70%, 90% 65%, 80% 60%, 70% 55%, 60% 55%, 50% 55%, 40% 55%, 30% 55%, 20% 55%, 10% 55%);
  left: 250px ;
  background-color: green;
  bottom: 150px;
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.veg2{
    position: absolute;
    height:100px;
    width:100px;
  margin-top: 80px;
  clip-path: polygon(10% 50%, 20% 45%, 30% 40%, 40% 40%, 50% 40%, 60% 40%, 70% 40%, 80% 40%, 90% 45%, 100% 70%, 90% 65%, 80% 60%, 70% 55%, 60% 55%, 50% 55%, 40% 55%, 30% 55%, 20% 55%, 10% 55%);
  background-color: green;
right: 140px;
  bottom: 120px;
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
  transform: rotate(145deg);
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.veg3{
    position: absolute;
    height:100px;
    width:100px;
  margin-top: 120px;
  top: 80px ;
  left: 450px;
  background-color: green;
  clip-path: polygon(10% 50%, 20% 45%, 30% 40%, 40% 40%, 50% 40%, 60% 40%, 70% 40%, 80% 40%, 90% 45%, 100% 70%, 90% 65%, 80% 60%, 70% 55%, 60% 55%, 50% 55%, 40% 55%, 30% 55%, 20% 55%, 10% 55%);
  bottom: 700px;
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.veg4{
    position: absolute;
    height:100px;
    width:100px;
  margin-top: 80px;
  top: 140px ;
  left: 260px;
  background-color: green;
  clip-path: polygon(10% 50%, 20% 45%, 30% 40%, 40% 40%, 50% 40%, 60% 40%, 70% 40%, 80% 40%, 90% 45%, 100% 70%, 90% 65%, 80% 60%, 70% 55%, 60% 55%, 50% 55%, 40% 55%, 30% 55%, 20% 55%, 10% 55%);
  bottom: 200px;
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.veg5{
    position: absolute;
    height:100px;
    width:100px;
  margin-top: 80px;
  top: 20px ;
  right: 390px;
  background-color: green;
  clip-path: polygon(10% 50%, 20% 45%, 30% 40%, 40% 40%, 50% 40%, 60% 40%, 70% 40%, 80% 40%, 90% 45%, 100% 70%, 90% 65%, 80% 60%, 70% 55%, 60% 55%, 50% 55%, 40% 55%, 30% 55%, 20% 55%, 10% 55%);
  bottom: 200px;
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
  transform: rotate(-75deg);
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.veg6{
    position: absolute;
    height:100px;
    width:100px;
  margin-top: 80px;
  top: 260px ;
  left: 100px;
  background-color: green;
  clip-path: polygon(10% 50%, 20% 45%, 30% 40%, 40% 40%, 50% 40%, 60% 40%, 70% 40%, 80% 40%, 90% 45%, 100% 70%, 90% 65%, 80% 60%, 70% 55%, 60% 55%, 50% 55%, 40% 55%, 30% 55%, 20% 55%, 10% 55%);
  bottom: 200px;
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
  transform: rotate(-145deg);
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.veg7{
    position: absolute;
    height:100px;
    width:100px;
  margin-top: 80px;
  top: 280px ;
  right: 230px;
  background-color: green;
  clip-path: polygon(10% 50%, 20% 45%, 30% 40%, 40% 40%, 50% 40%, 60% 40%, 70% 40%, 80% 40%, 90% 45%, 100% 70%, 90% 65%, 80% 60%, 70% 55%, 60% 55%, 50% 55%, 40% 55%, 30% 55%, 20% 55%, 10% 55%);
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
 
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.veg8{
    position: absolute;
    height:100px;
    width:100px;
  margin-top: 80px;
  clip-path: polygon(10% 50%, 20% 45%, 30% 40%, 40% 40%, 50% 40%, 60% 40%, 70% 40%, 80% 40%, 90% 45%, 100% 70%, 90% 65%, 80% 60%, 70% 55%, 60% 55%, 50% 55%, 40% 55%, 30% 55%, 20% 55%, 10% 55%);
  top: 5px ;
  background-color: green;
  border-radius: 50%;
  right: 190px;
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
  transform: rotate(35deg);
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.veg9{
    position: absolute;
    height:100px;
    width:100px;
  margin-top: 80px;
  clip-path: polygon(10% 50%, 20% 45%, 30% 40%, 40% 40%, 50% 40%, 60% 40%, 70% 40%, 80% 40%, 90% 45%, 100% 70%, 90% 65%, 80% 60%, 70% 55%, 60% 55%, 50% 55%, 40% 55%, 30% 55%, 20% 55%, 10% 55%);
  top: 240px ;
  background-color: green;
  border-radius: 50%;
  right: 70px;
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
  transform: rotate(75deg);
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.veg10{
    position: absolute;
    height:100px;
    width:100px;
  margin-top: 80px;
  clip-path: polygon(10% 50%, 20% 45%, 30% 40%, 40% 40%, 50% 40%, 60% 40%, 70% 40%, 80% 40%, 90% 45%, 100% 70%, 90% 65%, 80% 60%, 70% 55%, 60% 55%, 50% 55%, 40% 55%, 30% 55%, 20% 55%, 10% 55%);
  top: 440px ;
  background-color: green;
  border-radius: 50%;
  left: 170px;
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
  transform: rotate(-170deg);
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.veg11{
    position: absolute;
    height:100px;
    width:100px;
  margin-top: 80px;
  clip-path: polygon(10% 50%, 20% 45%, 30% 40%, 40% 40%, 50% 40%, 60% 40%, 70% 40%, 80% 40%, 90% 45%, 100% 70%, 90% 65%, 80% 60%, 70% 55%, 60% 55%, 50% 55%, 40% 55%, 30% 55%, 20% 55%, 10% 55%);
  top: 110px ;
  background-color: green;
  border-radius: 50%;
  left: 80px;
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.olive {
  border: 5px solid black;
  width: 15px;
  height: 15px;
  top: 240px;
  right: 10px;
  position: absolute;
  border-radius: 100%;
}

.olive-1{
  border: 5px solid black;
  width: 15px;
  height: 15px;
  top: 490px;
  left: 190px;
  position: absolute;
  border-radius: 100%;
}

.olive-2{
  border-color:  black;
  width: 15px;
  height: 15px;
  top: 130px;
  right: 270px;
}

.olive-3{
  border-color: black;
  width: 15px;
  height: 15px;
  top: 150px;
  left: 200px;
}
.olive-4{
  border-color: black;
  width: 15px;
  height: 15px;
  top: 300px;
  right: 240px;
}
.olive-5{
  border-color: black;
  width: 15px;
  height: 15px;
  top: 2560px;
  left: 350px;
}
.olive-6{
  border-color: black;
  width: 15px;
  height: 15px;
  bottom: 20px;
  left: 175px;
}
.olive-7{
  border-color: black;
  width: 15px;
  height: 15px;
  top: 300px;
  left: 300px;
}
.olive-8{
  border-color: black;
  width: 15px;
  height: 15px;
  top: 400px;
  left: 305px;
  font-weight: 1500px
}

.olive-9{
  border-color: black;
  width: 15px;
  height: 15px;
  bottom: 20px;
  right: 95px;
}
.olive-10{
  border-color: black;
  width: 15px;
  height: 15px;
  bottom: 20px;
  left: 175px;
}
.olive-11{
  border-color: black;
  width: 15px;
  height: 15px;
  top: 350px;
  left: 75px;
}
.olive-12{
  border-color: black;
  width: 15px;
  height: 15px;
  top: 510px;
  right: 220px;
}
.olive-13{
  border-color: black;
  width: 15px;
  height: 15px;
  top: 550px;
  left: 250px;
}
.olive-14{
  border-color: black;
  width: 15px;
  height: 15px;
  top: 370px;
  left: 175px;
}
.olive-15{
  border-color: black;
  width: 15px;
  height: 15px;
  top: 400px;
  right: 175px;
}
.olive-16{
  border-color: black;
  width: 15px;
  height: 15px;
  top: 190px;
  right: 175px;
}
.cheese {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffd700;
  border-radius: 20%;
  bottom:340px;
  left: 40%;
  transform: translateX(-50%);
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.cheese1 {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffd700;
  border-radius: 20%;
  bottom:400px;
  left: 70%;
  transform: translateX(-50%);
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.cheese2 {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffd700;
  border-radius: 20%;
  bottom: 60px;
  right: 80%;
  top: 390px;
  transform: translateX(-50%);
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

.cheese2:hover {
  background-color: #d2691e;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.cheese3 {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffd700;
  border-radius: 20%;
  bottom: 160px;
  left: 25%;
  transform: translateX(-50%);
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

.cheese3:hover {
  background-color: #d2691e;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.cheese4 {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffd700;
  border-radius: 20%;
  bottom: 500px;
  left: 40%;
  transform: translateX(-50%);
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

.cheese4:hover {
  background-color: #d2691e;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.cheese5 {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffd700;
  border-radius: 20%;
  bottom: 530px;
  left: 65%;
  transform: translateX(-50%);
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

.cheese5:hover {
  background-color: #d2691e;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.cheese6 {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffd700;
  border-radius: 20%;
  bottom: 330px;
  right: 10%;
  transform: translateX(-50%);
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

.cheese6:hover {
  background-color: #d2691e;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.cheese7 {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffd700;
  border-radius: 20%;
  bottom: 60px;
  top: 180px;
  left: 20%;
  transform: translateX(-50%);
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

.cheese7:hover {
  background-color: #d2691e;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.cheese8 {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffd700;
  border-radius: 20%;
  bottom: 100px;
  left: 40%;
  transform: translateX(-50%);
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

.cheese8:hover {
  background-color: #d2691e;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.cheese9 {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffd700;
  border-radius: 20%;
  bottom: 60px;
  top: 210px;
  right: 15%;
  transform: translateX(-50%);
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

.cheese9:hover {
  background-color: #d2691e;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.cheese10 {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffd700;
  border-radius: 20%;
  bottom: 200px;
  left: 70%;
  transform: translateX(-50%);
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

.cheese10:hover {
  background-color: #d2691e;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.cheese11 {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffd700;
  border-radius: 20%;
  bottom: 230px;
  left: 45%;
  transform: translateX(-50%);
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

.cheese11:hover {
  background-color: #d2691e;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.pepperoni {
  top: 60px;
  left: 90px;
}

.mushroom {
  top: 100px;
  left: 70px;
}
.onion {
    top: 250px;
    left: 80px;
    width: 80px;
    height: 50px;
    position: relative;
    animation: 0.7s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
  }
  .onion2 {
    bottom: -260px;
    left: 320px;
    width: 80px;
    height: 50px;
    position: relative;
    animation: 0.7s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
  }
  .onion3 {
    bottom: -330px;
    left: 510px;
    width: 80px;
    height: 50px;
    position: relative;
    animation: 0.7s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
  }
  .onion4 {
    bottom: -120px;
    left: 510px;
    width: 80px;
    height: 50px;
    position: relative;
    animation: 0.7s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
  }
  
  .onion5 {
    bottom: 100px;
    left: 320px;
    width: 80px;
    height: 50px;
    position: relative;
    animation: 0.7s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
  }
  .onion6 {
    bottom: -300px;
    left: 310px;
    width: 80px;
    height: 50px;
    position: relative;
    animation: 0.7s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
  }
  .onion7 {
    bottom: -150px;
    left: 110px;
    width: 80px;
    height: 50px;
    position: relative;
    animation: 0.7s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
  }
  .layer {
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
  
  .outer {
    background-color: #a35679; /* White */
  }
  
  .middle {
    background-color: #8f4f4f; /* Light gray */
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
  }
  
  .inner {
    background-color: #a68484; /* Dark gray */
    width: 60%;
    height: 60%;
    top: 20%;
    left: 20%;
  }
  .mom {
    bottom: -350px;
    left: 480px;
    width: 80px;
    height: 50px;
    position: relative;
  }
  .layer1{
    background-color:#e31f0ab3; 
    margin: -290px;
    width: 100PX;
    height: 90PX;
    border-radius: 50%;
    animation: 1.2s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
  }
  .layer2{
    background-color:#e31f0ab3; 
    width: 100PX;
    height: 90PX;
    border-radius: 50%;
    animation: 1.2s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
  }
  .mom2 {
    bottom: -360px;
    left: 380px;
    width: 80px;
    height: 50px;
    position: relative;
    animation: 1.2s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
  }

  .layer2{
    background-color:#e31f0ab3; 
    margin: -30px;
    width: 100PX;
    height: 90PX;
    border-radius: 50%;
    animation: 1.2s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
  }
  .mom3 {
    bottom: -80px;
    left: 370px;
    width: 80px;
    height: 50px;
    position: relative;
  }

  .layer3{
    background-color:#e31f0ab3; 
    margin: -30px;
    width: 100PX;
    height: 90PX;
    border-radius: 50%;
    animation: 1.2s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
  }
  .mom4{
    bottom: -190px;
    left: 480px;
    width: 80px;
    height: 50px;
    position: relative;
  }
  .layer4{
    background-color:#e31f0ab3; 
    margin: -30px;
    width: 100PX;
    height: 90PX;
    border-radius: 50%;
    animation: 1.2s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
  }
  .mom5{
    bottom: -130px;
    left: 190px;
    width: 80px;
    height: 50px;
    position: relative;
  }
  .layer5{
    background-color:#e31f0ab3; 
    margin: -30px;
    width: 100PX;
    height: 90PX;
    border-radius: 50%;
    animation: 1.2s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
  }
  .oregno{
    width: 450PX;
     height: 400PX;
    
     position: absolute;
     left: 150px;
     top: 150px;

  }
