
@media screen and (min-width: 380px) {
 .pizza{
  width:  50px;
  height: 50px;
 }
}

  @media(min-width:400px){


    body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
}

.pizza {
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: #f5deb3;
  border-radius: 50%;
  animation: .2s fadeIn;
  animation-fill-mode: forwards;
  box-shadow: #f5deb3;
  visibility: hidden;
}

.crust:hover {
  background-color: #d2691e;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
  
}


.crust {
  position: absolute;
  width: 430px;
  height: 420px;
  background-color: #d2691e;
  border-radius: 50%;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  animation: 0.6s fadeIn;
  animation-fill-mode: forwards;
text-align: center;
  visibility: hidden;
}

.crust:hover {
  background-color: #d2691e;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.sauce {
  position: absolute;
 margin-top: 10px;
  width: 380px;
  height: 390px;
  background-color: #721010;
  border-radius: 50%;
  bottom: 48px;
  left: 50%;
  transform: translateX(-50%);
  animation: 0.8s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

.sauce:hover {
  background-color: #d2691e;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.veg{
    position: absolute;
    height:80px;
    width:100px;
  margin-top: 50px;
  clip-path: polygon(10% 50%, 20% 45%, 30% 40%, 40% 40%, 50% 40%, 60% 40%, 70% 40%, 80% 40%, 90% 45%, 100% 70%, 90% 65%, 80% 60%, 70% 55%, 60% 55%, 50% 55%, 40% 55%, 30% 55%, 20% 55%, 10% 55%);
  left: 30px ;
  background-color: green;
  bottom: 170px;
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
  transform: rotate(-115deg);
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.veg2{
    position: absolute;
    height:80px;
    width:100px;
  clip-path: polygon(10% 50%, 20% 45%, 30% 40%, 40% 40%, 50% 40%, 60% 40%, 70% 40%, 80% 40%, 90% 45%, 100% 70%, 90% 65%, 80% 60%, 70% 55%, 60% 55%, 50% 55%, 40% 55%, 30% 55%, 20% 55%, 10% 55%);
  background-color: green;
  top: 190px;
  right: 150px;
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
  transform: rotate(55deg);
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.veg3{
    position: absolute;
    height:100px;
    width:100px;
  margin-top: 120px;
  top: 80px ;
  right: 22px;
  background-color: green;
  clip-path: polygon(10% 50%, 20% 45%, 30% 40%, 40% 40%, 50% 40%, 60% 40%, 70% 40%, 80% 40%, 90% 45%, 100% 70%, 90% 65%, 80% 60%, 70% 55%, 60% 55%, 50% 55%, 40% 55%, 30% 55%, 20% 55%, 10% 55%);
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
  transform: rotate(90deg);
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.veg4{
    position: absolute;
    height:80px;
    width:100px;
  margin-top: 40px;
  left: 180px;
  background-color: green;
  clip-path: polygon(10% 50%, 20% 45%, 30% 40%, 40% 40%, 50% 40%, 60% 40%, 70% 40%, 80% 40%, 90% 45%, 100% 70%, 90% 65%, 80% 60%, 70% 55%, 60% 55%, 50% 55%, 40% 55%, 30% 55%, 20% 55%, 10% 55%);
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
  transform: rotate(-10deg);
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.veg5{
    position: absolute;
    height:100px;
    width:100px;
  margin-top: 80px;
  top: 30px ;
  left: 50px;
  background-color: green;
  clip-path: polygon(10% 50%, 20% 45%, 30% 40%, 40% 40%, 50% 40%, 60% 40%, 70% 40%, 80% 40%, 90% 45%, 100% 70%, 90% 65%, 80% 60%, 70% 55%, 60% 55%, 50% 55%, 40% 55%, 30% 55%, 20% 55%, 10% 55%);
  bottom: 200px;
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
  transform: rotate(-55deg);
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.veg6{
    position: absolute;
    height:100px;
    width:100px;
  margin-top: 80px;
  top: 10px ;
  right: 68px;
  background-color: green;
  clip-path: polygon(10% 50%, 20% 45%, 30% 40%, 40% 40%, 50% 40%, 60% 40%, 70% 40%, 80% 40%, 90% 45%, 100% 70%, 90% 65%, 80% 60%, 70% 55%, 60% 55%, 50% 55%, 40% 55%, 30% 55%, 20% 55%, 10% 55%);
  bottom: 200px;
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
  transform: rotate(45deg);
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.veg7{
    position: absolute;
    height:100px;
    width:100px;
  margin-top: 80px;
  top: 300px ;
  right: 230px;
  background-color: green;
  clip-path: polygon(10% 50%, 20% 45%, 30% 40%, 40% 40%, 50% 40%, 60% 40%, 70% 40%, 80% 40%, 90% 45%, 100% 70%, 90% 65%, 80% 60%, 70% 55%, 60% 55%, 50% 55%, 40% 55%, 30% 55%, 20% 55%, 10% 55%);
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
 
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.veg8{
    position: absolute;
    height:100px;
    width:100px;
  margin-top: 80px;
  clip-path: polygon(10% 50%, 20% 45%, 30% 40%, 40% 40%, 50% 40%, 60% 40%, 70% 40%, 80% 40%, 90% 45%, 100% 70%, 90% 65%, 80% 60%, 70% 55%, 60% 55%, 50% 55%, 40% 55%, 30% 55%, 20% 55%, 10% 55%);
  top: 200px ;
  background-color: green;
  border-radius: 50%;
  right: 230px;
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
  transform: rotate(-145deg);
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.veg9{
    position: absolute;
    height:100px;
    width:100px;
  margin-top: 80px;
  clip-path: polygon(10% 50%, 20% 45%, 30% 40%, 40% 40%, 50% 40%, 60% 40%, 70% 40%, 80% 40%, 90% 45%, 100% 70%, 90% 65%, 80% 60%, 70% 55%, 60% 55%, 50% 55%, 40% 55%, 30% 55%, 20% 55%, 10% 55%);
  top: 250px ;
  background-color: green;
  border-radius: 50%;
  right: 70px;
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
  transform: rotate(135deg);
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.veg10{
    position: absolute;
    height:100px;
    width:100px;
  margin-top: 80px;
  clip-path: polygon(10% 50%, 20% 45%, 30% 40%, 40% 40%, 50% 40%, 60% 40%, 70% 40%, 80% 40%, 90% 45%, 100% 70%, 90% 65%, 80% 60%, 70% 55%, 60% 55%, 50% 55%, 40% 55%, 30% 55%, 20% 55%, 10% 55%);
  top: 80px ;
  background-color: green;
  border-radius: 50%;
  left: 170px;
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
  transform: rotate(270deg);
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.veg11{
    position: absolute;
    height:100px;
    width:100px;
  margin-top: 80px;
  clip-path: polygon(10% 50%, 20% 45%, 30% 40%, 40% 40%, 50% 40%, 60% 40%, 70% 40%, 80% 40%, 90% 45%, 100% 70%, 90% 65%, 80% 60%, 70% 55%, 60% 55%, 50% 55%, 40% 55%, 30% 55%, 20% 55%, 10% 55%);
  top: 100px ;
  background-color: green;
  border-radius: 50%;
  left: 80px;
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.olive {
  border: 5px solid black;
  width: 15px;
  height: 15px;
  top: 240px;
  right: 10px;
  position: absolute;
  border-radius: 100%;
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.olive-1{
  border: 5px solid black;
  width: 15px;
  height: 15px;
  top: 100px;
  left: 150px;
  position: absolute;
  border-radius: 100%;
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.olive-2{
  border-color:  black;
  width: 15px;
  height: 15px;
  top: 170px;
  right: 230px;
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.olive-3{
  border-color: black;
  width: 15px;
  height: 15px;
  top: 90px;
  left: 250px;
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.olive-4{
  border-color: black;
  width: 15px;
  height: 15px;
  top: 300px;
  right: 240px;
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.olive-5{
  border-color: black;
  width: 15px;
  height: 15px;
  top: 2560px;
  left: 350px;
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.olive-6{
  border-color: black;
  width: 15px;
  height: 15px;
  top: 300px;
  right: 75px;
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.olive-7{
  border-color: black;
  width: 15px;
  height: 15px;
  top: 300px;
  left: 300px;
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.olive-8{
  border-color: black;
  width: 15px;
  height: 15px;
  top: 185px;
  right: 100px;
  font-weight: 1500px;
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.olive-9{
  border-color: black;
  width: 15px;
  height: 15px;
  bottom: 20px;
  right: 150px;
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.olive-10{
  border-color: black;
  width: 15px;
  height: 15px;
  bottom: 20px;
  left: 185px;
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.olive-11{
  border-color: black;
  width: 15px;
  height: 15px;
  top: 275px;
  left: 125px;
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.olive-12{
  border-color: black;
  width: 15px;
  height: 15px;
  top: 380px;
  right: 230px;
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.olive-13{
  border-color: black;
  width: 15px;
  height: 15px;
  top: 200px;
  left: 80px;
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.olive-14{
  border-color: black;
  width: 15px;
  height: 15px;
  top: 380px;
  left: 145px;
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.olive-15{
  border-color: black;
  width: 15px;
  height: 15px;
  top: 415px;
  right: 185px;
  animation: 1.5s fadeIn;
    animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.olive-16{
  border-color: black;
  width: 15px;
  height: 15px;
  top: 190px;
  right: 175px;
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.cheese {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #ffd700;
  border-radius: 20%;
  bottom:310px;
  left: 40%;
  transform: translateX(-50%);
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.cheese1 {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #ffd700;
  border-radius: 20%;
  bottom:400px;
  left: 68%;
  transform: translateX(-50%);
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.cheese2 {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #ffd700;
  border-radius: 20%;
  right: 42%;
  top: 230px;
  transform: translateX(-50%);
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}
@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.cheese3 {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #ffd700;
  border-radius: 20%;
  bottom: 160px;
  left: 18%;
  transform: translateX(-50%);
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.cheese4 {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #ffd700;
  border-radius: 20%;
  bottom: 400px;
  left: 35%;
  transform: translateX(-50%);
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

.cheese4:hover {
  background-color: #d2691e;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.cheese5 {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #ffd700;
  border-radius: 20%;
  bottom:330px;
  left: 65%;
  transform: translateX(-50%);
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.cheese6 {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #ffd700;
  border-radius: 20%;
  bottom: 125px;
  right: 25%;
  transform: translateX(-50%);
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.cheese7 {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #ffd700;
  border-radius: 20%;
  bottom: 60px;
  top: 178px;
  left: 20%;
  transform: translateX(-50%);
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}
@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.cheese8 {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #ffd700;
  border-radius: 20%;
  bottom: 85px;
  left: 40%;
  transform: translateX(-50%);
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.cheese9 {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #ffd700;
  border-radius: 20%;
  bottom: 60px;
  top: 210px;
  right: 15%;
  transform: translateX(-50%);
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.cheese10 {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #ffd700;
  border-radius: 20%;
  bottom: 200px;
  left: 70%;
  transform: translateX(-50%);
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.cheese11 {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #ffd700;
  border-radius: 20%;
  bottom: 200px;
  left: 45%;
  transform: translateX(-50%);
  animation: 1.5s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}


@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.pepperoni {
  top: 60px;
  left: 90px;
}

.mushroom {
  top: 100px;
  left: 70px;
}
.onion {
    top: 240px;
    left: 80px;
    width: 50px;
    height: 50px;
    position: relative;
    animation: 0.9s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
  }
  .onion2 {
    bottom: -260px;
    left: 350px;
    width: 50px;
    height: 50px;
    position: relative;
    animation: 0.9s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
  }
  .onion3 {
    bottom: 10px;
    left: 200px;
    width: 50px;
    height: 50px;
    position: relative;
    animation: 0.9s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
  }
  .onion4 {
    bottom: -80px;
    left: 230px;
    width: 50px;
    height: 50px;
    position: relative;
    animation: 0.9s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
  }
  
  .onion5 {
    bottom: 60px;
    left: 340px;
    width: 50px;
    height: 50px;
    position: relative;
    animation: 0.9s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
  }
  .onion6 {
    bottom: -100px;
    left: 180px;
    width: 50px;
    height: 50px;
    position: relative;
    animation: 0.9s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
  }
   
@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
  }
  .layer {
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
  
  .outer {
    background-color: #a35679; /* White */
  }
  
  .middle {
    background-color: #8f4f4f; /* Light gray */
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
  }
  
  .inner {
    background-color: #a68484; /* Dark gray */
    width: 60%;
    height: 60%;
    top: 20%;
    left: 20%;
  }
  .mom {
    bottom: -400px;
    left: 500px;
    width: 80px;
    height: 50px;
    position: relative;
  }
  .layer1{
    background-color:#e31f0ab3; 
    margin: -400px;
    width: 75PX;
    height: 70PX;
    border-radius: 50%;
    animation: 1.2s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
  }
  .layer2{
    background-color:#e31f0ab3; 
    width: 75PX;
    height: 70PX;
    border-radius: 50%;
    animation: 1.2s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
  }
  .mom2 {
    bottom: -420px;
    left: 300px;
    width: 80px;
    height: 50px;
    position: relative;
    animation: 1.2s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
  }

  .layer2{
    background-color:#e31f0ab3; 
    margin: -30px;
    width: 75PX;
    height: 70PX;
    border-radius: 50%;
    animation: 1.2s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
  }
  .mom3 {
    bottom: -150px;
    left: 300px;
    width: 80px;
    height: 50px;
    position: relative;
  }

  .layer3{
    background-color:#e31f0ab3; 
    margin: -30px;
    width: 75PX;
    height: 70PX;
    border-radius: 50%;
    animation: 1.2s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
  }
  .mom4{
    bottom: -250px;
    left: 380px;
    width: 80px;
    height: 50px;
    position: relative;
  }
  .layer4{
    background-color:#e31f0ab3; 
    margin: -30px;
    width: 75PX;
    height: 70PX;
    border-radius: 50%;
    animation: 1.2s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
  }
  .mom5{
    bottom: -210px;
    left: 200px;
    width: 80px;
    height: 50px;
    position: relative;
  }
  .layer5{
    background-color:#e31f0ab3; 
    margin: -80px;
    width: 75PX;
    height: 70PX;
    border-radius: 50%;
    animation: 1.2s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
  }
  .oregno{
    width: 450PX;
     height: 400PX;
    
     position: absolute;
     left: 150px;
     top: 150px;

  }
